basePath: /v1
definitions:
  model.Page:
    properties:
      absolute_url:
        type: string
      active:
        type: boolean
      created:
        type: string
      id:
        type: integer
      title:
        type: string
      updated:
        type: string
    type: object
  model.SignInResponse:
    properties:
      token:
        type: string
    type: object
host: api.engin.app
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: This is a sample server Petstore server.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Swagger Example API
  version: "1.0"
paths:
  /signin:
    post:
      consumes:
      - application/json
      parameters:
      - in: formData
        name: email
        required: true
        type: string
      - in: formData
        name: email_validated
        type: boolean
      - in: formData
        name: fk_account_id
        type: integer
      - in: formData
        name: id
        type: integer
      - in: formData
        name: password
        required: true
        type: string
      - in: formData
        name: temp
        type: boolean
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.SignInResponse'
      summary: Sign Into Account
      tags:
      - account
  /signup:
    post:
      consumes:
      - application/json
      parameters:
      - in: formData
        name: account_name
        type: string
      - in: formData
        name: email
        required: true
        type: string
      - in: formData
        name: password
        required: true
        type: string
      - in: formData
        name: passwordconfirm
        required: true
        type: string
      - in: formData
        name: temp
        type: boolean
      produces:
      - application/json
      responses:
        "200":
          description: ""
      summary: Creates an account on the service
      tags:
      - account
  /v1/page/{id}:
    get:
      consumes:
      - application/json
      parameters:
      - description: Authentication header as token
        in: header
        name: Authentication
        required: true
        type: string
      - description: ID for page
        in: query
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Page'
      summary: Returns a page by ID
      tags:
      - Page
    post:
      consumes:
      - application/json
      parameters:
      - description: Authentication header as token
        in: header
        name: Authentication
        required: true
        type: string
      - description: ID for page
        in: query
        name: id
        required: true
        type: string
      - in: formData
        name: absolute_url
        type: string
      - in: formData
        name: active
        type: boolean
      - in: formData
        name: created
        type: string
      - in: formData
        name: id
        type: integer
      - in: formData
        name: title
        type: string
      - in: formData
        name: updated
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: ""
      summary: Creates a page
      tags:
      - Page
    put:
      consumes:
      - application/json
      parameters:
      - description: ID for page
        in: query
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: ""
      summary: Updates a page by ID
      tags:
      - Page
  /v1/signup/{uid}:
    post:
      consumes:
      - application/json
      parameters:
      - description: uid from email
        in: query
        name: uid
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: ""
      summary: Verifies an email with a UID sent to the account email
      tags:
      - verify
swagger: "2.0"
